
html {
    background-color: #d2c8bc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--light-blue); 
}

:root {
    --light-blue: #bbcfd7;
    
}

header {
    position: fixed;
    top: 0;
    width: 97%;
    max-height:200px;
    border: 10px solid #5b828e;
    border-radius: 1em;
    background-color: #5b828e;
    z-index: 100%;

}

#header-right {
    color: #bbcfd7;
    display: flex;
    float: right;
    list-style: none;
    padding: 5px;

}
  
.header-info {
    text-decoration: none;
    color: #bbcfd7;
    margin-left: 5px;
    border: 2px solid #bbcfd7;
    border-radius: 1em ;
    padding: 4px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 1 0 100%;
}

.info-sections {
    background-color: var(--light-blue);
    border:solid var(--light-blue);
    border-radius: 1em;
    padding: 50px solid var(--light-blue);
    margin: 15px; 
    color: #ac7e62;
    background-image: linear-gradient(#5b828e, white);

}


#pic-of-me {
    margin-top: 220px;
    border-radius: 1em;
}



#contact-info {
    line-height: 5px;
}




    

