* {
    box-sizing: border-box;
}

:root {
    --light-blue: #9cacbf;
    --dark-blue: #012e67;
    --light: #c0c9c5;
    
}

body {
    background-color: #aca69f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--light); 
    max-height: 100vh;
    margin: 0;
    padding: 0;
    /* height: 100vh;
    display: flex;
    flex-wrap: wrap; */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}


p {
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    top: 0;
    width: 97%;
    max-height:200px;
    border: 10px solid var(--dark-blue);
    border-radius: 1em;
    background-color: var(--dark-blue);
    z-index: 100%;

}

#header-right {
    color: var(--light-blue);
    display: flex;
    float: right;
    list-style: none;
    padding: 5px;
    
}

.header-info {
    text-decoration: none;
    color: var(--light);
    margin-left: 5px;
    border: 2px solid var(--light-blue);
    border-radius: 1em ;
    padding: 4px;
}

header h1 {
    text-shadow: 2px 2px black;
}

a:hover {
    color:#7eb8cf
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin: 200px auto 50px auto;
}


/* each sections featurings. should look the same through */
.info-sections {
    border:solid var(--light-blue);
    border-radius: 1em;
    color: var(--light);
    background-image: linear-gradient(#012e67, #2b6684);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding: 15px;
    line-height: auto;
    /* padding: 30px;
    margin: 15px; 
    width: 97%;
    height: 300px; */
}

div > p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    border-radius: 1em;
    border:2px solid var(--dark-blue);
}
/* when hovering over any image it will display light around it */
img:hover {
    box-shadow: inset 0 0 15px white, 0 0 15px white;
}

.work-history {
    display: flex;
    flex-direction: row;
    /* flex-basis: (50%); */
    border: 2px solid var(--dark-blue);
    margin: 10px;
    padding: 30px
}

span {
    background-color: var(--dark-blue);
    border: 1px;
}


#project-1 {
    /* border: 30px solid var(--light); */
    height: 200px;
    flex-basis: 100%;
    background-image: url(../assets/images/coding-image-1.jpg);
}

#project-2 {
    height: 100px;
    /* flex-basis: (50%); */
    background-image: url(../assets/images/coding-image-2.jpg);
}

#project-3 {
    height: 100px;
    /* flex-basis: (50%); */
    background-image: url(../assets/images/coding-image-3.jpg);
}

div a {
    color: var(--light);
    text-decoration: none;
    border: var(--light-blue);
}


/* Flot the personal picture next to the bio of */
/* #pic-of-me {
    margin-top: 250px;
    margin-right: 20px;
    float:right;

} */
/* have the bio float next to picture but not hide underneath the fixed header */
/* #about-me {
    border:solid var(--light-blue);
    border-radius: 1em;
    margin: 15px; 
    background-image: linear-gradient(#012e67, #2b6684);
    padding: 50px;
    width: 60%;
    margin-top: 250px;
    float: left;
    
} */

/* So this contact is below the float items */
/* #work-history {
    text-align: center;
    font-size: 110%;
    height: 20px;
    clear: both;
}   */

/* #project-2 {
    float: left;
}

#project-3 {
    float:right
} */

/* figcaption {
    width: fit-content;
    font-size: large;
    border:solid var(--dark-blue);
    border-radius: 1em;
    padding: 2px;
    background-color: var(--dark-blue);
} */


/* #contact-info {
    clear:both;
    line-height: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
} */

.contact-link {
    color: var(--light);
}

footer {
    color: var(--dark-blue);
    text-align: center;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:992px) {
 
    /* header h2{
        font-size: ;
    } */
}

@media screen and (max-width: 768px) {

    header h2 {
        font-size: 95%;
    }

    .header-info {
        font-size: 80%;
    }

    /* body {
        display: flex;
        flex-direction: column;
        width: 97%;
    }

    #pic-of-me {
        align-items: flex-start;
        justify-content: center;
    }

    #about-me {
        align-items: flex-start;
        justify-content: center;
    } */

}