
html {
    background-color: #d2c8bc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bbcfd7; 
}

header {
    position: fixed;
    top: 0;
    width: 95%;
    border: 10px solid #5b828e;
    border-radius: 1em;
    background-color: #5b828e;
    z-index: 100%;
  
}

div {
    background-color: #5b828e;
    border: 15px solid #5b828e;
    border-radius: 1em;
    padding: 10px solid #5b828e;
    margin: 15px; 
}

#header-info {
    color: #bbcfd7;
    display: flex;
    float: right;
    list-style: none;
    padding: 5px;

}

#pic-of-me {
    
}

a {
    text-decoration: none;
    color: #bbcfd7;
    margin-left: 5px;
    border: 2px solid #bbcfd7;
    border-radius: 1em ;
    padding: 4px;
}



    

